{% extends 'book/book_base.html' %}

{% block title %}Books{% endblock %}

{% block style %}
    <style>
        .table_add{
            font-size: 20px;
            padding-top: 10px;

        }
        .fade_left{
            font-size: 20px;
            padding: 10px;
            text-align: right;
            width: 150px;
            padding-right: 20px;
        }
        .fade_right{
            font-size: 20px;
            padding: 10px;
        }
        .page_list{
            width: 1000px;
        }
    </style>
{% endblock %}


{% block table %}
    <div class='table_add' ><a href='/book/books_add/'> +添加数据</a></div>
    <thread>
        <tr>
            <th>书名</th>
            <th>出版社</th>
            <th>作者</th>
            <th>出版时间</th>
            <th>操作</th>
        </tr>
    </thread>
    <tbody>
        {% for book in books_list %}
        <tr>
            <td>{{ book.title }} </td>
            <td>{{ book.publisher.name }}</td>
            <td>
                {% for i in book.authors.all %}
                    {{ i.first_name }}· {{ i.last_name }}
                    </br>
                {% endfor %}
            </td>
            <td>{{ book.publication_date }}</td>
            <td id='{{ book.id }}'><a class='updata' href='/book/books_set-{{ book.id }}'>修改</a>|<a class='delete' href='' data-toggle="modal" data-target="#myModal">删除</a></td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block body %}

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        模态框（Modal）标题
                    </h4>
                </div>
                <div class="modal-body" id='myModelFade'>
                    <table>
                        <tr>
                            <td class='fade_left'>书名:</td>
                            <td name='book_title' class='fade_right'></td>
                        </tr>
                        <tr>
                            <td class='fade_left'>出版社:</td>
                            <td name='book_publisher' class='fade_right'></td>
                        </tr>
                        <tr>
                            <td class='fade_left'>作者:</td>
                            <td name='book_authors' class='fade_right'></td>
                        </tr>
                        <tr>
                            <td class='fade_left'>出版时间:</td>
                            <td name='book_date' class='fade_right'></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <a id='fade_del' href='/book/authors/'><button type="button" class="btn btn-primary">
                        确认删除
                    </button></a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


{% endblock %}
{% block pages %}
    <div class='page_list'>
        {{ page_str|safe }}
    </div>
{% endblock %}
{% block script %}
    <script>
        $('.delete').click(function () {
            var nid = $(this).parent().attr("id");
            console.log(nid);
            {% for book in books_list %}
                if ({{ book.id }} == nid){
                    var bt = '{{ book.title }}';
                    var bp = '{{ book.publisher.name }}';
                    var bd = '{{ book.publication_date }}';
                    var ba = [];
                    {% for a in book.authors.all %}
                        author_name = '{{ a.first_name }}'+'·'+'{{ a.last_name }}';
                        ba.push(author_name);
                    {% endfor %}
                    $('#myModalLabel').text('确定删除书本《{{ book.title }}》');
                    $('#myModelFade [name="book_title"]').text(bt)
                    $('#myModelFade [name="book_authors"]').text(ba)
                    $('#myModelFade [name="book_publisher"]').text(bp)
                    $('#myModelFade [name="book_date"]').text(bd)
                    $('#fade_del').prop('href','/book/books_del-{{ book.id }}')
                }
            {% endfor %}
        })
    </script>

{% endblock %}