{% extends 'book/book_base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        .login_in{
            margin: 50px  100px;
            height: 40px;
            font-size: 20px;
        }
        .login_button{
            margin: 50px  160px;
        }
        .login_msg{
            margin-bottom: -65px;
            margin-left: 160px;
            font-size: 16px;
            color: red;
        }
    </style>

{% endblock %}
{% block pages %}
    <div>
        <form action='' method='post'>
            <div class='login_in login_msg'>{{ msg }}</div>
            <div class='login_in'>账号：<input type='text' name='username'></div>
            <div class='login_in'>密码：<input type='password' name='pwd'></div>
            <div class='login_in login_button'>
                <input type='submit' value='登录'>
                <a href='/book/register/' style='margin-left: 100px'>注册</a>
            </div>
        </form>
    </div>
{% endblock %}